.container{
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
}
.inputWrapper{
    border-bottom: 1px solid;
    height: 26px;
    width:70%;
    outline: 0;
    border-width: 0 0 2px;
    border-color: gray;
}

.groupWrapper{
    display: flex;
    flex-direction: column;
    width: 93%;
    margin-left: 10%;
}
.iconWrapper{
    display: flex;
    gap: 4px;
}
.imageWrapper{
    position: absolute;
    height: 500px;
    right: 4%;
}
.conatinerWrapper{
        display: grid;
    grid-template-columns: 50% 50%;
}
.leftImageWrapper{
    width: 50%;
}
.btn{
    /* width: 20%; */
    height: 40px;
    background: #1487b6;
    color: white;
    border: none;
    border-radius: 8px;
     font-size: 14px;
    font-weight: 400;
    padding: 21px 32px 32px 32px;

}
/* .btnWrapper, .headingWrapper{
    display: flex;
    align-items: center;
    position: relative;
    left: 40%;

} */
.headingWrapper{
    position: relative;
     left: -8%
}

.btnWrapper{
    left: -8%;
    position: relative;
}